In [2]:
import pandas as pd
import numpy as np

In [11]:
ddata1_df = pd.read_csv("/Users/andreas/Desktop/03 - Le Wagon/ddata 2009-2015.csv")
ddata1_df.head(5)

,NAME,HQ COUNTRY,"EMPLOYEES (2016,2017,2018,2019,2020,2021,2022,2023,2024)",ROUND,AMOUNT,CURRENCY,AMOUNT RAISED THIS ROUND (EUR M),ROUND VALUATION,DATE,INVESTORS,...,IS EXITED,TOTAL EXIT SIZE,EXITS TYPES,CURRENT COMPANY VALUATION (EUR),FOUNDERS,FOUNDERS GENDERS,FOUNDERS IS SERIAL,FOUNDERS BACKGROUNDS,IS FOUNDERS FIRST COMPANY,PAST COMPANY VALUATIONS IN EUR
0,DeepL,Germany,n/a;n/a;n/a;n/a;n/a;227;434;827;1109,LATE VC,300000000,USD,272.727273,2000000000,may/2024,Atomico;Index Ventures;Institutional Venture P...,...,False,0.0,NaN,1818181818,Jaroslaw Kutylowski,male,yes,technical,yes,1000M
1,HR-Autopilot,Germany,n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a;1,EARLY VC,0,USD,0.000000,NaN,may/2024,allygatr,...,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Circtec,Germany,n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a,GRANT,22500000,EUR,22.500000,NaN,may/2024,Government of the Netherlands,...,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Circtec,Germany,n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a,GROWTH EQUITY VC,75000000,EUR,75.000000,NaN,may/2024,Novo Holdings;A.P. Moller Holding,...,False,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Calligraphy Cut,Germany,n/a;n/a;n/a;n/a;n/a;n/a;n/a;20;20,SEED,198500,EUR,0.198500,2500000,may/2024,Seedmatch,...,False,0.0,NaN,2500000,NaN,NaN,NaN,NaN,NaN,2M-3M

In [12]:
ddata2_df = pd.read_csv("/Users/andreas/Desktop/03 - Le Wagon/ddata 2016-2024.csv")
ddata2_df.head(5)

,NAME,HQ COUNTRY,"EMPLOYEES (2016,2017,2018,2019,2020,2021,2022,2023,2024)",ROUND,AMOUNT,CURRENCY,AMOUNT RAISED THIS ROUND (EUR M),ROUND VALUATION,DATE,INVESTORS,...,IS EXITED,TOTAL EXIT SIZE,EXITS TYPES,CURRENT COMPANY VALUATION (EUR),FOUNDERS,FOUNDERS GENDERS,FOUNDERS IS SERIAL,FOUNDERS BACKGROUNDS,IS FOUNDERS FIRST COMPANY,PAST COMPANY VALUATIONS IN EUR
0,NeoCarbon,Germany,n/a;n/a;n/a;n/a;n/a;n/a;14;13;n/a,EARLY VC,0,USD,0.000000,NaN,may/2024,IBB;European Regional Development Fund,...,False,0.0,NaN,12800000-19200000,René Haas;Silvain Toromanoff,male;male,no;no,technical;n/a,yes;yes,0.7M-1M;5M-7.5M;12.8M-19.2M
1,shipzero,Germany,n/a;n/a;n/a;n/a;5;10;18;33;43,SERIES A,0,EUR,0.000000,NaN,may/2024,Rethink Ventures;Raspberry Ventures,...,False,0.0,NaN,NaN,Mirko Schedlbauer;Tobias Bohnhoff;Mirko Schedl...,male;male;male,no;no;no,n/a;n/a;n/a,yes;yes;yes,NaN
2,CTRL-UP,Germany,n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a;4,SEED,700000,EUR,0.700000,2800000-4200000,may/2024,MBG Berlin-Brandenburg,...,False,0.0,NaN,2800000-4200000,NaN,NaN,NaN,NaN,NaN,NaN
3,Rows,Germany,n/a;n/a;n/a;43;56;65;47;49;50,LATE VC,8000000,USD,7.272727,80000000,may/2024,Accel;Lakestar;Cherry Ventures;Armilar Venture...,...,False,0.0,NaN,72727273,Humberto Ayres Pereira;Rui Maranhão;Rui Maranh...,male;male;male,no;no;no,"business;technical;technical,it",yes;yes;yes,3.2M-4.8M;20.8M-31.2M;58.2M-87.3M
4,OMNIPEAK,Germany,n/a;n/a;n/a;n/a;n/a;n/a;n/a;n/a;3,SEED,0,USD,0.000000,NaN,may/2024,Hessen Kapital;BMH Beteiligungs Hessen,...,False,0.0,NaN,NaN,Manuel Meder;Michael Tal,n/a;n/a,yes;yes,law;law,no;no,NaN