In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../raw_data/data.csv", low_memory=False)
data.head(5)

,Organization Name,Organization Name URL,IPO Status,Company Type,Last Funding Type,Industries,Headquarters Location,Founded Date,Founded Date Precision,Full Description,...,Funding Status,Last Equity Funding Amount,Last Equity Funding Amount Currency,Last Equity Funding Amount (in USD),Last Equity Funding Type,Total Equity Funding Amount,Total Equity Funding Amount Currency,Total Equity Funding Amount (in USD),Number of Lead Investors,Number of Investors
0,air up,https://www.crunchbase.com/organization/air-up,Private,For Profit,Venture - Series Unknown,"Consumer, Food and Beverage, Retail","Munich, Bayern, Germany",2018-01-01,year,Air up is a provider of drinking bottle system...,...,NaN,40000000.0,EUR,46744589.0,Venture - Series Unknown,58000000.0,EUR,67922929.0,1.0,6.0
1,Infinite Roots,https://www.crunchbase.com/organization/mushlabs,Private,For Profit,Series B,"Biotechnology, Food and Beverage, Health Care","Hamburg, Hamburg, Germany",2018-01-01,year,Infinite Roots is a technology-driven company ...,...,Early Stage Venture,53000000.0,EUR,57481860.0,Series B,83991394.0,USD,83991394.0,4.0,14.0
2,Instagrid,https://www.crunchbase.com/organization/instagrid,Private,For Profit,Series C,"Battery, Energy Storage, Manufacturing","Stuttgart, Baden-Wurttemberg, Germany",2018-01-01,year,Instagrid offers portable battery systems to c...,...,Late Stage Venture,87430000.0,EUR,94927569.0,Series C,124930000.0,EUR,137401184.0,4.0,10.0
3,Isar Aerospace,https://www.crunchbase.com/organization/isar-a...,Private,For Profit,Series C,"Aerospace, Information Technology, Space Travel","Munich, Bayern, Germany",2018-01-01,year,Isar Aerospace is a space technology company t...,...,Late Stage Venture,NaN,NaN,NaN,Series C,350641701.0,USD,350641701.0,5.0,16.0
4,SoSafe Cyber Security Awareness,https://www.crunchbase.com/organization/sosafe...,Private,For Profit,Series B,"Cyber Security, SaaS, Security","Köln, Nordrhein-Westfalen, Germany",2018-01-01,year,SoSafe empowers organizations to build a secur...,...,Early Stage Venture,73000000.0,USD,73000000.0,Series B,73000000.0,USD,73000000.0,2.0,6.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12157 entries, 0 to 12156
Data columns (total 74 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Organization Name                           12157 non-null  object
 1   Organization Name URL                       12157 non-null  object
 2   IPO Status                                  12157 non-null  object
 3   Company Type                                12121 non-null  object
 4   Last Funding Type                           3397 non-null   object
 5   Industries                                  11985 non-null  object
 6   Headquarters Location                       12157 non-null  object
 7   Founded Date                                12157 non-null  object
 8   Founded Date Precision                      12157 non-null  object
 9   Full Description                            6084 non-null   object
 10  Description                                 12157 non-null  object
 11  Last Funding Date                           3397 non-null   object
 12  Total Funding Amount                        2178 non-null   float64
 13  Total Funding Amount Currency               3397 non-null   object
 14  Total Funding Amount (in USD)               2178 non-null   float64
 15  CB Rank (Company)                           12090 non-null  object
 16  Operating Status                            12157 non-null  object
 17  Top 5 Investors                             3077 non-null   object
 18  Most Recent Valuation Range                 1 non-null      object
 19  LinkedIn                                    11576 non-null  object
 20  Headquarters Regions                        12157 non-null  object
 21  Website                                     12135 non-null  object
 22  Industry Groups                             11985 non-null  object
 23  Number of Employees                         12157 non-null  object
 24  Estimated Revenue Range                     7747 non-null   object
 25  Last Funding Amount                         1842 non-null   float64
 26  Last Funding Amount Currency                1848 non-null   object
 27  Last Funding Amount (in USD)                1842 non-null   float64
 28  Acquired by                                 923 non-null    object
 29  Acquired by URL                             923 non-null    object
 30  Exit Date                                   965 non-null    object
 31  Exit Date Precision                         965 non-null    object
 32  Founders                                    4922 non-null   object
 33  Postal Code                                 9207 non-null   object
 34  Diversity Spotlight (US Headquarters Only)  0 non-null      float64
 35  Closed Date                                 138 non-null    object
 36  Closed Date Precision                       335 non-null    object
 37  Twitter                                     5181 non-null   object
 38  Facebook                                    7258 non-null   object
 39  Phone Number                                9537 non-null   object
 40  Contact Email                               10793 non-null  object
 41  Number of Articles                          3231 non-null   object
 42  Hub Tags                                    91 non-null     object
 43  Actively Hiring                             59 non-null     object
 44  Number of Sub-Orgs                          97 non-null     float64
 45  Investor Type                               156 non-null    object
 46  Investment Stage                            126 non-null    object
 47  Number of Portfolio Organizations           240 non-null    float64
 48  Number of Investments                       240 non-null    float64
 49  Number of Diversity Investments             40 non-null     float64
 50  Number of Lead Investments                  138 non-null    float64
 51  Number of Exits                             102 non-null    float64
 52  Number of Exits (IPO)                       102 non-null    float64
 53  Accelerator Program Type                    7 non-null      object
 54  Accelerator Application Deadline            8 non-null      object
 55  Accelerator Duration (in weeks)             8 non-null      float64
 56  School Type                                 0 non-null      float64
 57  School Program                              0 non-null      float64
 58  Number of Enrollments                       0 non-null      float64
 59  School Method                               0 non-null      float64
 60  Number of Founders (Alumni)                 1 non-null      float64
 61  Number of Alumni                            2 non-null      float64
 62  Number of Founders                          4922 non-null   float64
 63  Number of Funding Rounds                    3397 non-null   float64
 64  Funding Status                              3180 non-null   object
 65  Last Equity Funding Amount                  1813 non-null   float64
 66  Last Equity Funding Amount Currency         1818 non-null   object
 67  Last Equity Funding Amount (in USD)         1813 non-null   float64
 68  Last Equity Funding Type                    3246 non-null   object
 69  Total Equity Funding Amount                 2065 non-null   float64
 70  Total Equity Funding Amount Currency        3246 non-null   object
 71  Total Equity Funding Amount (in USD)        2065 non-null   float64
 72  Number of Lead Investors                    2163 non-null   float64
 73  Number of Investors                         3079 non-null   float64
dtypes: float64(27), object(47)
memory usage: 6.9+ MB

In [10]:
alumni = data.loc[:, ['Number of Founders (Alumni)', 'Number of Alumni', 'Number of Founders', 'Founders']]

In [11]:
alumni.sort_values(by=['Number of Alumni', 'Number of Founders (Alumni)']).head(4)

,Number of Founders (Alumni),Number of Alumni,Number of Founders,Founders
4341,1.0,1.0,4.0,"Andy Goldstein, Dietmar Harhoff, Dirk Kanngies..."
1366,NaN,1.0,2.0,"Martin Ramsin, Raffaela Rein"
0,NaN,NaN,5.0,"Fabian Schlang, Jannis Koppitz, Lena Jüngst, S..."
1,NaN,NaN,1.0,Mazen Rizk

In [20]:
org_info = ['Organization Name', 'IPO Status', 'Number of Founders', 
       'Company Type', 'Industries', 'Founded Date', 'CB Rank (Company)',
       'Operating Status', 'Industry Groups',
       'Number of Employees', 'Estimated Revenue Range', 
       'Acquired by', 'Exit Date',
       'Closed Date', 'Number of Exits',
       'Actively Hiring', 'Number of Sub-Orgs']

In [14]:
social_media_activity = ['LinkedIn', 'Website', 'Twitter', 'Facebook',
       'Phone Number', 'Contact Email', 'Number of Articles', 'Hub Tags']

In [15]:
location = ['Headquarters Regions', 'Headquarters Location', ]

In [16]:
funding = ['Number of Funding Rounds', 'Funding Status',
       'Last Equity Funding Amount (in USD)', 'Last Equity Funding Type',
       'Total Equity Funding Amount (in USD)', 'Last Funding Amount (in USD)',
       'Last Funding Type', 'Last Funding Date', 'Total Funding Amount (in USD)']

In [17]:
investment = [
       'Top 5 Investors', 'Investor Type',
       'Investment Stage', 'Number of Portfolio Organizations',
       'Number of Investments', 'Number of Diversity Investments',
       'Number of Lead Investments', 'Number of Exits (IPO)', 'Accelerator Program Type',
       'Accelerator Application Deadline', 'Accelerator Duration (in weeks)',
       'Number of Lead Investors', 'Number of Investors'
]

In [21]:
org_df = data.loc[:, org_info]
org_df

,Organization Name,IPO Status,Number of Founders,Company Type,Industries,Founded Date,CB Rank (Company),Operating Status,Industry Groups,Number of Employees,Estimated Revenue Range,Acquired by,Exit Date,Exit Date Precision,Closed Date,Closed Date Precision,Number of Exits,Actively Hiring,Number of Sub-Orgs
0,air up,Private,5.0,For Profit,"Consumer, Food and Beverage, Retail",2018-01-01,"1,347",Active,"Commerce and Shopping, Food and Beverage, Other",251-500,$100M to $500M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Infinite Roots,Private,1.0,For Profit,"Biotechnology, Food and Beverage, Health Care",2018-01-01,"1,875",Active,"Biotechnology, Food and Beverage, Health Care,...",51-100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Instagrid,Private,2.0,For Profit,"Battery, Energy Storage, Manufacturing",2018-01-01,"1,950",Active,"Energy, Manufacturing",101-250,$1M to $10M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Isar Aerospace,Private,3.0,For Profit,"Aerospace, Information Technology, Space Travel",2018-01-01,"2,015",Active,"Information Technology, Science and Engineerin...",251-500,$10M to $50M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SoSafe Cyber Security Awareness,Private,3.0,For Profit,"Cyber Security, SaaS, Security",2018-01-01,"2,054",Active,"Information Technology, Privacy and Security, ...",251-500,$50M to $100M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12152,ITCS,Private,NaN,For Profit,"Events, Information Technology, Professional N...",2014-01-01,"2,182,106",Active,"Community and Lifestyle, Events, Information T...",11-50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12153,Gamed!de Gameserver,Private,NaN,For Profit,"Data Center, Domain Registrar, Gaming, Web Hos...",2014-01-01,"2,185,367",Active,"Gaming, Hardware, Information Technology, Inte...",11-50,$1M to $10M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12154,Thielemann Logistik,Private,NaN,For Profit,"Logistics, Transportation, Warehousing",2014-01-01,"2,185,618",Active,Transportation,11-50,$1M to $10M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12155,Intertours Reisen & Events,Private,NaN,For Profit,"Tour Operator, Tourism, Travel Accommodations,...",2014-01-01,"2,188,359",Active,Travel and Tourism,11-50,$1M to $10M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12156,Persil Service,Private,NaN,For Profit,"Customer Service, Home Services, Laundry and D...",2014-01-01,"2,188,526",Active,"Clothing and Apparel, Other, Professional Serv...",11-50,$10M to $50M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
org_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12157 entries, 0 to 12156
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Organization Name        12157 non-null  object
 1   IPO Status               12157 non-null  object
 2   Number of Founders       4922 non-null   float64
 3   Company Type             12121 non-null  object
 4   Industries               11985 non-null  object
 5   Founded Date             12157 non-null  object
 6   CB Rank (Company)        12090 non-null  object
 7   Operating Status         12157 non-null  object
 8   Industry Groups          11985 non-null  object
 9   Number of Employees      12157 non-null  object
 10  Estimated Revenue Range  7747 non-null   object
 11  Acquired by              923 non-null    object
 12  Exit Date                965 non-null    object
 13  Exit Date Precision      965 non-null    object
 14  Closed Date              138 non-null    object
 15  Closed Date Precision    335 non-null    object
 16  Number of Exits          102 non-null    float64
 17  Actively Hiring          59 non-null     object
 18  Number of Sub-Orgs       97 non-null     float64
dtypes: float64(3), object(16)
memory usage: 1.8+ MB

In [27]:
sma_df = data.loc[:, social_media_activity]
sma_df.sort_values(by=["Hub Tags"]).head(60)

,LinkedIn,Website,Twitter,Facebook,Phone Number,Contact Email,Number of Articles,Hub Tags
5747,https://www.linkedin.com/company/cavalry-ventures,http://www.cavalry.vc/,https://www.twitter.com/cavalryvc,NaN,NaN,hello@cavalry.vc,17.0,Crunchbase Venture Program
4387,https://www.linkedin.com/company/uvc-partners,http://www.uvcpartners.com/,https://twitter.com/UVC_Partners,https://www.facebook.com/UVCPartners,NaN,pitch@uvcpartners.com,12,Crunchbase Venture Program
5570,https://www.linkedin.com/company/42cap/,http://www.42cap.com,NaN,NaN,+49 (0) 89 24887927,info@42cap.com,1.0,Crunchbase Venture Program
5581,https://www.linkedin.com/company/lunar-ventures,http://lunarventures.eu/,https://twitter.com/lunar_vc,NaN,NaN,hello@lunarventures.eu,4.0,Crunchbase Venture Program
5590,https://www.linkedin.com/company/coparion-gmbh...,https://www.coparion.vc/en,https://www.twitter.com/coparion_vc,NaN,+49 30 58 58 44 00,info@coparion.vc,29.0,Crunchbase Venture Program
5594,https://www.linkedin.com/company/lead-sports-a...,https://www.leadsports.com,https://twitter.com/leADsports,https://www.facebook.com/leadsportsaccelerator/,(757) 344-8429,contact@leadsports.com,6.0,Crunchbase Venture Program
5680,https://www.linkedin.com/company/17908138,http://gr.capital,NaN,https://www.facebook.com/GRCapitalVC,NaN,projects@gr.capital,3.0,Crunchbase Venture Program
5705,https://www.linkedin.com/company/18158744,https://www.heartbeatlabs.com/,https://twitter.com/heartbeatlabs,https://www.facebook.com/HeartbeatLabs,NaN,NaN,2.0,Crunchbase Venture Program
11337,https://www.linkedin.com/company/spinlab---the...,https://spinlab.co/,https://twitter.com/SpinLabLeipzig,https://www.facebook.com/SpinLabAccelerator,+49 341 - 355785-70,info@spinlab.co,33.0,Crunchbase Venture Program
5834,https://www.linkedin.com/company/founders-foun...,https://foundersfoundation.de/en,https://www.twitter.com/hellofounders,https://www.facebook.com/foundersfoundation,NaN,info@foundersfoundation.de,1.0,Crunchbase Venture Program
6206,https://www.linkedin.com/company/10262962,http://sevenventures.de,http://twitter.com/SevenVentures,NaN,NaN,info@sevenventures.de,2.0,Crunchbase Venture Program
6214,https://www.linkedin.com/company/tev-ventures/,https://www.cuspcapital.com,https://twitter.com/tev_ventures,NaN,+49 (0)201 – 838863 0,ideas@tev.de,114.0,Crunchbase Venture Program
6227,http://www.linkedin.com/company/point-nine-cap...,http://www.pointnine.com,http://twitter.com/pointninecap,http://www.facebook.com/PointNineCap,+44 2079369198,info@pointninecap.com,453.0,Crunchbase Venture Program
6390,NaN,http://www.youngbrains.net,NaN,NaN,NaN,info@youngbrains.net,NaN,Crunchbase Venture Program
8271,https://www.linkedin.com/company/2952666/,http://hubraum.com,https://twitter.com/hubraum,https://www.facebook.com/hubraumDT/,+49 (0) 228-181-0,contact@hubraum.com,29.0,Crunchbase Venture Program
8277,NaN,https://www.german-startups.com/for-shareholde...,NaN,NaN,NaN,NaN,53.0,Crunchbase Venture Program
8284,https://www.linkedin.com/in/harald-braunstein-...,http://www.nfq.com/,NaN,NaN,NaN,info@nfq.com,14.0,Crunchbase Venture Program
8295,https://www.linkedin.com/company/project-a-ven...,http://www.project-a.com,http://twitter.com/ProjectAcom,https://www.facebook.com/projectaberlin/,+49 30 340606300,info@project-a.com,137.0,Crunchbase Venture Program
9193,https://www.linkedin.com/company/ananda-impact...,https://ananda.vc/,https://twitter.com/ananda_ventures,NaN,+498976775170,info@ananda.vc,18.0,Crunchbase Venture Program
9270,https://www.linkedin.com/company/ta-ventures/,http://www.taventures.vc,NaN,https://www.facebook.com/taventure/,(650) 529-8000,info@taventures.vc,70.0,Crunchbase Venture Program
10247,https://www.linkedin.com/company/target-global,http://www.targetglobal.vc,https://twitter.com/targetglobalvc,NaN,+49 30609837750,info@targetglobal.vc,189.0,Crunchbase Venture Program
10300,https://www.linkedin.com/company/dtcp-capital,https://www.dtcp.capital,NaN,NaN,+49 160 71 71 001,info@dtcp.capital,48.0,Crunchbase Venture Program
10325,https://www.linkedin.com/company/statkraft-ven...,http://www.statkraftventures.com/,https://twitter.com/StatkraftVC,NaN,+49 211 60 244 000,info@statkraftventures.com,11.0,Crunchbase Venture Program
10326,https://www.linkedin.com/company/11065581/,http://www.burdaprincipalinvestments.com/,NaN,NaN,+49 89 9250 1280,investments@burda.com,54.0,Crunchbase Venture Program
10373,https://www.linkedin.com/company/atomleap,https://atomleap.com,NaN,https://www.facebook.com/atomleap,NaN,contact@atomleap.com,3.0,Crunchbase Venture Program
10396,https://www.linkedin.com/company/merck-group,http://accelerator.merckgroup.com,https://twitter.com/merckgroup,NaN,+496151720,service@merckgroup.com,8.0,Crunchbase Venture Program
10537,https://www.linkedin.com/company-beta/10203139/,https://wattx.io/,https://twitter.com/wattxberlin,https://www.facebook.com/wattx/,NaN,NaN,1.0,Crunchbase Venture Program
11255,http://www.linkedin.com/company/redstone-digit...,http://www.redstone.vc,http://www.twitter.com/redstonevc,https://www.facebook.com/redstonevc/,+49 30 27592650,info@redstone.vc,64.0,Crunchbase Venture Program
4341,https://www.linkedin.com/company/german-accele...,https://www.germanaccelerator.com/,https://twitter.com/gaccelerator,https://www.facebook.com/GermanAccelerator/,(650) 272-9832,info@germanaccelerator.com,29,Crunchbase Venture Program
4313,http://www.linkedin.com/company/rheingau-founders,http://rheingau-founders.com,http://twitter.com/RheingauFNDRS,http://www.facebook.com/RheingauFounders,+ 49-30-403 64 31 50,contact@rheingau-founders.com,18,Crunchbase Venture Program
11396,https://www.linkedin.com/company/techfounders,http://www.techfounders.com/,https://twitter.com/techfoundersmuc,https://www.facebook.com/techfoundersmuc,+49 89 18 94 69 2143,service@techfounders.com,6.0,Crunchbase Venture Program
197,https://www.linkedin.com/company/18632566/,https://pt1.vc,https://twitter.com/proptech1,https://www.facebook.com/PropTech1,+49 30 609889060,info@pt1.vc,13.0,Crunchbase Venture Program
1409,https://www.linkedin.com/company/atlantic-labs/,http://www.atlanticlabs.de,NaN,NaN,NaN,info@atlanticlabs.de,46.0,Crunchbase Venture Program
1449,https://www.linkedin.com/company/allianzx,https://www.allianzx.com,https://twitter.com/allianzx,NaN,+08976996340,allianzx@allianz.com,67.0,Crunchbase Venture Program
1473,https://www.linkedin.com/company/global-founde...,https://www.globalfounderscapital.com,https://twitter.com/gfc_sea,NaN,+49 30 300 1318 00,contact@globalfounderscapital.com,464.0,Crunchbase Venture Program
1492,https://www.linkedin.com/company/cherry-ventures,http://www.cherry.vc,https://twitter.com/cherryventures,NaN,NaN,press@cherry.vc,82.0,Crunchbase Venture Program
1124,NaN,http://soonami.io,NaN,NaN,NaN,admin@soonami.io,NaN,Crunchbase Venture Program
3621,https://www.linkedin.com/company/futureenergyv...,https://fev.vc,https://twitter.com/FutureEnergy_VC,NaN,+49 30 120 84 945,ventures@eon.com,19.0,Crunchbase Venture Program
8215,https://www.linkedin.com/company/anydesk-softw...,http://www.anydesk.com,https://twitter.com/anydesk,http://www.facebook.com/AnyDesk,00 852 6650 4856,info@anydesk.com,38.0,Emerging Unicorn
7238,https://www.linkedin.com/company/finn-auto,https://www.finn.com,NaN,https://www.facebook.com/finn.auto.abo,NaN,NaN,27.0,Emerging Unicorn
7170,https://www.linkedin.com/company/mosscredit/,https://getmoss.com/,https://twitter.com/mosscredit,https://www.facebook.com/mosscredit/,+49 30 3119 6512,join@getmoss.com,NaN,Emerging Unicorn
96,https://www.linkedin.com/company/pitchhq,https://pitch.com,https://twitter.com/Pitch,https://facebook.com/PitchHQ,NaN,hello@pitch.io,13.0,Emerging Unicorn
3528,https://www.linkedin.com/company/jokr,http://www.jokr.com,https://www.twitter.com/JokrLatam,https://www.facebook.com/jokrmexico,NaN,laura.wehner@jokr.it,37.0,Emerging Unicorn
8169,https://www.linkedin.com/company/2832960,http://uberall.com,http://twitter.com/getuberall,http://www.facebook.com/getuberall,628-400 0150,help@uberall.com,51.0,Emerging Unicorn
11159,https://www.linkedin.com/company/spryker-syste...,http://spryker.com,https://twitter.com/sprysys,https://www.facebook.com/Spryker,+4930208498350,info@spryker.com,8.0,Emerging Unicorn
5386,https://www.linkedin.com/company/moonfare,http://www.moonfare.com,https://twitter.com/moonfare,https://www.facebook.com/moonfare/,+49 30 220 560 770,marketing@moonfare.com,66.0,Emerging Unicorn
4253,https://www.linkedin.com/company/egym-global,https://egym.com,NaN,https://www.facebook.com/egymglobal,+49 89 9213105 100,contact.us@egym.com,37,Emerging Unicorn
5400,https://www.linkedin.com/company/billie.io,https://www.billie.io,https://twitter.com/BillieGmbh,https://www.facebook.com/billie.io,303-119-9251,info@billie.io,16.0,Emerging Unicorn
4250,https://www.linkedin.com/company/hellofresh,https://www.hellofresh.com,https://twitter.com/HelloFresh,https://www.facebook.com/HelloFreshus,(646) 846-3663,hello@hellofresh.com,763,Exited Unicorn
4256,https://www.linkedin.com/company/deposit-solut...,http://www.deposit-solutions.com/,https://twitter.com/DepositPioneers,NaN,+49 40 228 665-00,info@deposit-solutions.com,61,Exited Unicorn
7,https://www.linkedin.com/company/atai-life-sci...,http://atai.life,https://twitter.com/ATAI_life,https://www.facebook.com/ATAI-Life-Sciences-20...,+49 (0) 89 2153 9035,info@atai.life,81.0,Exited Unicorn
8175,https://www.linkedin.com/company/auto1-group,http://www.auto1-group.com,https://twitter.com/auto1_group,https://www.facebook.com/AUTO1-Group-175891653...,(+49) 30 2016 3405,info@auto1-group.com,20.0,Exited Unicorn
4249,https://www.linkedin.com/company/delivery-hero-se,http://www.deliveryhero.com,http://twitter.com/deliveryherocom,http://www.facebook.com/deliveryhero,+49 (0) 30 544459 - 000,info@deliveryhero.com,"1,129",Exited Unicorn
2426,https://www.linkedin.com/company/gorillasapp,https://gorillas.io,https://www.twitter.com/gorillasapp,https://www.facebook.com/gorillasapp,NaN,hello@gorillasapp.com,99.0,Exited Unicorn
10161,https://www.linkedin.com/company/lilium-aviati...,https://lilium.com,https://twitter.com/Lilium,https://www.facebook.com/LiliumAviation,+49 (0)170 700 5739,info@lilium.com,194.0,Exited Unicorn
6177,http://www.linkedin.com/company/2653180,http://www.home24.de,http://twitter.com/home24_de,http://www.facebook.com/home24.de,+49 30 700149000,presse@home24.de,50.0,Exited Unicorn
5998,https://www.linkedin.com/company/xalt-business...,https://xalt.de,https://twitter.com/xaltbc,https://www.facebook.com/xaltbc/,089 41 61 24 24 2,info@xaltbc.de,2.0,Pledge 1%
6274,https://www.linkedin.com/company/k15t-software...,https://www.k15t.com,https://www.twitter.com/k15tsoftware,https://www.facebook.com/k15tsoftware,4971193593539,info@k15t.com,NaN,Pledge 1%
1345,https://www.linkedin.com/company/contentful,https://www.contentful.com,https://twitter.com/contentful,https://www.facebook.com/contentful,NaN,team@contentful.com,79.0,Unicorn
1346,https://www.linkedin.com/company/n26,https://n26.com,https://twitter.com/n26,https://www.facebook.com/N26,+49 30 364 286 880,hello@n26.com,422.0,Unicorn

In [28]:
loc_df = data.loc[:, location]
loc_df

,Headquarters Regions,Headquarters Location
0,"European Union (EU), Europe, Middle East, and ...","Munich, Bayern, Germany"
1,"European Union (EU), Europe, Middle East, and ...","Hamburg, Hamburg, Germany"
2,"European Union (EU), Europe, Middle East, and ...","Stuttgart, Baden-Wurttemberg, Germany"
3,"European Union (EU), Europe, Middle East, and ...","Munich, Bayern, Germany"
4,"European Union (EU), Europe, Middle East, and ...","Köln, Nordrhein-Westfalen, Germany"
...,...,...
12152,"European Union (EU), Europe, Middle East, and ...","Frankfurt, Hessen, Germany"
12153,"European Union (EU), Europe, Middle East, and ...","Düsseldorf, Nordrhein-Westfalen, Germany"
12154,"European Union (EU), Europe, Middle East, and ...","Rudolstadt, Thuringen, Germany"
12155,"European Union (EU), Europe, Middle East, and ...","Frankfurt, Hessen, Germany"
12156,"European Union (EU), Europe, Middle East, and ...","Hanover, Niedersachsen, Germany"

In [29]:
fun_df = data.loc[:, funding]
fun_df

,Number of Funding Rounds,Funding Status,Last Equity Funding Amount (in USD),Last Equity Funding Type,Total Equity Funding Amount (in USD),Last Funding Amount (in USD),Last Funding Type,Last Funding Date,Total Funding Amount (in USD)
0,5.0,NaN,46744589.0,Venture - Series Unknown,67922929.0,46744589.0,Venture - Series Unknown,2021-09-28,67922929.0
1,8.0,Early Stage Venture,57481860.0,Series B,83991394.0,57481860.0,Series B,2024-01-25,86661948.0
2,4.0,Late Stage Venture,94927569.0,Series C,137401184.0,94927569.0,Series C,2024-01-23,137401184.0
3,5.0,Late Stage Venture,NaN,Series C,350641701.0,NaN,Series C,2024-04-01,350641701.0
4,3.0,Early Stage Venture,73000000.0,Series B,73000000.0,73000000.0,Series B,2022-01-13,73000000.0
...,...,...,...,...,...,...,...,...,...
12152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
funding_diff = data['Total Equity Funding Amount (in USD)'] - data['Total Funding Amount (in USD)']
funding_diff.drop_duplicates().dropna()

0                0.0
1         -2670554.0
5         -1366630.0
7       -200000000.0
15        -1136849.0
            ...
11308      -537004.0
11309     -1300000.0
11311      -192418.0
11313     -1345373.0
11342      -127309.0
Length: 297, dtype: float64

In [32]:
inv_df = data.loc[200:500, investment]
inv_df

,Top 5 Investors,Investor Type,Investment Stage,Number of Portfolio Organizations,Number of Investments,Number of Diversity Investments,Number of Lead Investments,Number of Exits (IPO),Accelerator Program Type,Accelerator Application Deadline,Accelerator Duration (in weeks),Number of Lead Investors,Number of Investors
200,NaN,NaN,NaN,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,"Techstars, Y Combinator, 7percent Ventures, Si...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
203,"Future Energy Ventures, Blue Earth Capital",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
204,"YZR Capital, IFB Innovationsstarter",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,Motion Fashion Network Europe GmbH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
comma_seperated_categories = [
    'Industry Groups',
    'Headquarters Location', 
    'Top 5 Investors',
]

In [ ]:
ordinal_categories = [
    'Number of Employees', 'Estimated Revenue Range', 
]

In [ ]:
one_hot_categories = [
    'Company Type', 'Actively Hiring', 'Number of Founders', 'IPO Status', 'Acquired by', 
    'LinkedIn', 'Website', 'Twitter', 'Facebook', 'Phone Number', 'Contact Email',
]

In [ ]:
numerical_features = [
    'Founded Date', 'Exit Date', 'Closed Date', 'Number of Exits', 'Number of Sub-Orgs',
    'Number of Articles',
    'Number of Lead Investors', 'Number of Investors'
]

In [ ]:
y = [
    "Hub Tags", 
]