In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("../raw_data/final_data.csv", low_memory=False)
data

,Unnamed: 0,Organization Name,IPO Status,Number of Founders,Company Type,CB Rank (Company),Operating Status,Industry Groups,Number of Employees,Estimated Revenue Range,...,series_e_fund,private_equity_fund,seed_to_pre_ratio,a_to_seed_ratio,b_to_a_ratio,c_to_b_ratio,d_to_c_ratio,e_to_d_ratio,pe_to_e_ratio,total_funding_usd
0,0,air up,Private,5.0,For Profit,"1,347",Active,"Commerce and Shopping, Food and Beverage, Other",251-500,$100M to $500M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,67922929.0
1,1,infinite roots,Private,1.0,For Profit,"1,875",Active,"Biotechnology, Food and Beverage, Health Care,...",51-100,NaN,...,NaN,NaN,0.0,0.0,5.300000,0.000000,0.0,0.0,0.0,86661948.0
2,2,instagrid,Private,2.0,For Profit,"1,950",Active,"Energy, Manufacturing",101-250,$1M to $10M,...,NaN,NaN,0.0,0.0,3.411765,3.014828,0.0,0.0,0.0,137401184.0
3,3,isar aerospace,Private,3.0,For Profit,"2,015",Active,"Information Technology, Science and Engineerin...",251-500,$10M to $50M,...,NaN,NaN,0.0,0.0,5.000000,0.000000,0.0,0.0,0.0,350641701.0
4,4,sosafe cyber security awareness,Private,3.0,For Profit,"2,054",Active,"Information Technology, Privacy and Security, ...",251-500,$50M to $100M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,73000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,2184,btc echo gmbh,Private,1.0,For Profit,"201,902",Active,"Blockchain and Cryptocurrency, Content and Pub...",11-50,$1M to $10M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,145515.0
2185,2185,swipy,Private,2.0,For Profit,"213,578",Closed,"Clothing and Apparel, Commerce and Shopping, C...",11-50,NaN,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,75000.0
2186,2186,regional markt,Private,2.0,For Profit,"224,877",Closed,"Agriculture and Farming, Commerce and Shopping...",11-50,$1M to $10M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,183876.0
2187,2187,avant classic,Private,1.0,For Profit,"335,005",Closed,"Internet Services, Media and Entertainment",11-50,$1M to $10M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,50000.0
2188,2188,appiris,Private,3.0,For Profit,"466,833",Active,"Advertising, Consumer Electronics, Hardware, I...",11-50,NaN,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1371723.0

In [8]:
data = data.drop_duplicates()
data = data[data.total_funding_usd > 0]
data

,Unnamed: 0,Organization Name,IPO Status,Number of Founders,Company Type,CB Rank (Company),Operating Status,Industry Groups,Number of Employees,Estimated Revenue Range,...,series_e_fund,private_equity_fund,seed_to_pre_ratio,a_to_seed_ratio,b_to_a_ratio,c_to_b_ratio,d_to_c_ratio,e_to_d_ratio,pe_to_e_ratio,total_funding_usd
0,0,air up,Private,5.0,For Profit,"1,347",Active,"Commerce and Shopping, Food and Beverage, Other",251-500,$100M to $500M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,67922929.0
1,1,infinite roots,Private,1.0,For Profit,"1,875",Active,"Biotechnology, Food and Beverage, Health Care,...",51-100,NaN,...,NaN,NaN,0.0,0.0,5.300000,0.000000,0.0,0.0,0.0,86661948.0
2,2,instagrid,Private,2.0,For Profit,"1,950",Active,"Energy, Manufacturing",101-250,$1M to $10M,...,NaN,NaN,0.0,0.0,3.411765,3.014828,0.0,0.0,0.0,137401184.0
3,3,isar aerospace,Private,3.0,For Profit,"2,015",Active,"Information Technology, Science and Engineerin...",251-500,$10M to $50M,...,NaN,NaN,0.0,0.0,5.000000,0.000000,0.0,0.0,0.0,350641701.0
4,4,sosafe cyber security awareness,Private,3.0,For Profit,"2,054",Active,"Information Technology, Privacy and Security, ...",251-500,$50M to $100M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,73000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,2184,btc echo gmbh,Private,1.0,For Profit,"201,902",Active,"Blockchain and Cryptocurrency, Content and Pub...",11-50,$1M to $10M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,145515.0
2185,2185,swipy,Private,2.0,For Profit,"213,578",Closed,"Clothing and Apparel, Commerce and Shopping, C...",11-50,NaN,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,75000.0
2186,2186,regional markt,Private,2.0,For Profit,"224,877",Closed,"Agriculture and Farming, Commerce and Shopping...",11-50,$1M to $10M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,183876.0
2187,2187,avant classic,Private,1.0,For Profit,"335,005",Closed,"Internet Services, Media and Entertainment",11-50,$1M to $10M,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,50000.0
2188,2188,appiris,Private,3.0,For Profit,"466,833",Active,"Advertising, Consumer Electronics, Hardware, I...",11-50,NaN,...,NaN,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1371723.0

In [12]:
df = data.iloc[:, 13:]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2184 entries, 0 to 2188
Data columns (total 55 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   state                2184 non-null   object
 1   funding_status       2184 non-null   object
 2   revenue_range        2184 non-null   object
 3   no_employees         2184 non-null   object
 4   no_founders          2184 non-null   float64
 5   industry_groups      2184 non-null   object
 6   website              2184 non-null   int64
 7   phone                2184 non-null   int64
 8   email                2184 non-null   int64
 9   linkedin             2184 non-null   int64
 10  twitter              2184 non-null   int64
 11  facebook             2184 non-null   int64
 12  articles             2184 non-null   object
 13  founded_year         2184 non-null   int64
 14  last_funding_year    2181 non-null   float64
 15  exit_year            305 non-null    float64
 16  closed_year          56 non-null     float64
 17  no_investors         2184 non-null   float64
 18  no_fund_rounds       2181 non-null   float64
 19  acquired             2184 non-null   int64
 20  private_ipo          2184 non-null   int64
 21  company_type         2184 non-null   int64
 22  operting_status      2184 non-null   int64
 23  no_lead_investors    2184 non-null   float64
 24  no_sub_orgs          2184 non-null   float64
 25  no_exits             2184 non-null   float64
 26  has_preseed          2184 non-null   int64
 27  has_seed             2184 non-null   int64
 28  has_series_a         2184 non-null   int64
 29  has_series_b         2184 non-null   int64
 30  has_series_c         2184 non-null   int64
 31  has_series_d         2184 non-null   int64
 32  has_series_e         2184 non-null   int64
 33  has_angel            2184 non-null   int64
 34  has_debt_financing   2184 non-null   int64
 35  has_grant            2184 non-null   int64
 36  has_corporate_round  2184 non-null   int64
 37  has_series_x         2184 non-null   int64
 38  has_other_funding    2184 non-null   int64
 39  preseed_fund         366 non-null    float64
 40  seed_fund            1047 non-null   float64
 41  series_a_fund        697 non-null    float64
 42  series_b_fund        303 non-null    float64
 43  series_c_fund        118 non-null    float64
 44  series_d_fund        52 non-null     float64
 45  series_e_fund        24 non-null     float64
 46  private_equity_fund  45 non-null     float64
 47  seed_to_pre_ratio    2184 non-null   float64
 48  a_to_seed_ratio      2184 non-null   float64
 49  b_to_a_ratio         2184 non-null   float64
 50  c_to_b_ratio         2184 non-null   float64
 51  d_to_c_ratio         2184 non-null   float64
 52  e_to_d_ratio         2184 non-null   float64
 53  pe_to_e_ratio        2184 non-null   float64
 54  total_funding_usd    2184 non-null   float64
dtypes: float64(25), int64(24), object(6)
memory usage: 955.5+ KB

In [27]:
df.funding_status

0       Early Stage Venture
1       Early Stage Venture
2        Late Stage Venture
3        Late Stage Venture
4       Early Stage Venture
               ...
2184                   Seed
2185                   Seed
2186                   Seed
2187                   Seed
2188                    M&A
Name: funding_status, Length: 2184, dtype: object

In [40]:
successful_public_ipo = list(df[df.private_ipo == 0].index)

In [39]:
successful_ma = list(df[df.funding_status == "M&A"].index)

In [38]:
successful_ipo = list(df[df.funding_status == "IPO"].index)

In [72]:
successful_pe_fu = list(df[df.funding_status == "Private Equity"].index)

In [73]:
successful_exit = list(df[df.exit_year > 1000].index)

In [74]:
successful_acquired = list(df[df.acquired > 0].index)

In [75]:
successful_d = list(df[df.has_series_d > 0].index)

In [76]:
successful_e = list(df[df.has_series_e > 0].index)

In [77]:
successful_pe = list(df[df.private_equity_fund > 1000000].index)

In [78]:
success_pre = list(df[df.seed_to_pre_ratio > 2.3].index)

In [66]:
success_seed = list(df[df.a_to_seed_ratio > 2.2].index)

In [69]:
success_a = list(df[df.b_to_a_ratio > 1.7].index)

In [70]:
success_b = list(df[df.c_to_b_ratio > 1.4].index)

In [71]:
df[df.c_to_b_ratio > 1.4]

,state,funding_status,revenue_range,no_employees,no_founders,industry_groups,website,phone,email,linkedin,...,series_e_fund,private_equity_fund,seed_to_pre_ratio,a_to_seed_ratio,b_to_a_ratio,c_to_b_ratio,d_to_c_ratio,e_to_d_ratio,pe_to_e_ratio,total_funding_usd
2,Baden-Wurttemberg,Late Stage Venture,$1M to $10M,101-250,2.0,Industrial and Manufacturing,1,1,1,1,...,NaN,NaN,0.0,0.000000,3.411765,3.014828,0.000000,0.0,0.0,137401184.0
5,Sachsen,Late Stage Venture,$1M to $10M,101-250,8.0,Technology and Software,1,1,1,1,...,NaN,NaN,0.0,0.000000,5.000000,2.800000,0.000000,0.0,0.0,122184409.0
7,Bayern,IPO,Less than $1M,101-250,4.0,Health and Biotechnology,1,1,1,1,...,NaN,NaN,0.0,0.000000,1.686275,2.162791,1.688172,0.0,0.0,522100000.0
88,Berlin,Late Stage Venture,$100M to $500M,251-500,2.0,Community and Social Services,1,1,1,1,...,NaN,NaN,0.0,10.500000,3.809524,2.500000,0.000000,0.0,0.0,333490482.0
92,Berlin,Late Stage Venture,$100M to $500M,101-250,2.0,Technology and Software,1,1,1,1,...,NaN,NaN,0.0,3.000000,8.333333,4.000000,0.000000,0.0,0.0,308000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030,Bayern,Late Stage Venture,Less than $1M,101-250,2.0,Health and Biotechnology,1,1,1,1,...,NaN,NaN,0.0,0.000000,0.000000,1.533333,0.000000,0.0,0.0,65772234.0
2032,Bayern,Late Stage Venture,$10M to $50M,101-250,5.0,Technology and Software,1,1,1,1,...,NaN,NaN,0.0,0.000000,0.000000,5.652174,0.000000,0.0,0.0,130614117.0
2034,Berlin,Late Stage Venture,$10M to $50M,101-250,2.0,Consumer Goods and Services,1,1,1,1,...,NaN,NaN,0.0,0.000000,2.461538,2.500000,0.000000,0.0,0.0,65798538.0
2041,Berlin,Late Stage Venture,$10M to $50M,101-250,2.0,Technology and Software,1,1,1,1,...,NaN,NaN,0.0,0.000000,2.666667,2.225000,0.000000,0.0,0.0,33970218.0
2098,Berlin,Early Stage Venture,$1M to $10M,101-250,4.0,Technology and Software,1,1,1,1,...,NaN,NaN,0.0,4.923077,2.031250,1.423077,0.000000,0.0,0.0,92215781.0

In [80]:
success_target = successful_public_ipo + \
                successful_ma + \
                successful_ipo + \
                successful_pe_fu + \
                successful_exit + \
                successful_acquired + \
                successful_d + \
                successful_e + \
                successful_pe + \
                success_pre + \
                success_seed + \
                success_a + \
                success_b
len(set(success_target))

799

In [106]:
closed_companies = df[df.closed_year > 0]
closed_companies = closed_companies[closed_companies.acquired == 0]
failed_seed = list(closed_companies[closed_companies.funding_status == "Seed"].index)

In [107]:
failed_early = list(closed_companies[closed_companies.funding_status == "Early Stage Venture"].index)

In [108]:
failed_seed

[166,
 204,
 205,
 443,
 467,
 553,
 634,
 689,
 921,
 925,
 1010,
 1014,
 1321,
 1727,
 1730,
 2148,
 2163,
 2186]

In [83]:
fail_pre = df[df.seed_to_pre_ratio < 2.3]
fail_pre = list(fail_pre[fail_pre.seed_to_pre_ratio > 0].index)

In [87]:
fail_seed = df[df.a_to_seed_ratio < 2.2]
fail_seed = list(fail_seed[fail_seed.a_to_seed_ratio > 0].index)

In [89]:
fail_a = df[df.b_to_a_ratio < 1.7] 
fail_a = list(fail_a[fail_a.b_to_a_ratio > 0].index)

In [90]:
fail_b = df[df.c_to_b_ratio < 1.4]   
fail_b = list(fail_b[fail_b.c_to_b_ratio > 0].index)

In [109]:
failure_target = failed_seed + failed_early + fail_pre + fail_seed + fail_a + fail_b

In [112]:
len(set(failure_target))

199

In [118]:
df["y"] = 2

In [121]:
df.loc[list(set(success_target)), ["y"]] = 1

In [122]:
df.loc[list(set(failure_target)), ["y"]] = 0

In [125]:
df[df["y"] > 1]

,state,funding_status,revenue_range,no_employees,no_founders,industry_groups,website,phone,email,linkedin,...,private_equity_fund,seed_to_pre_ratio,a_to_seed_ratio,b_to_a_ratio,c_to_b_ratio,d_to_c_ratio,e_to_d_ratio,pe_to_e_ratio,total_funding_usd,y
0,Bayern,Early Stage Venture,$100M to $500M,251-500,5.0,Consumer Goods and Services,1,0,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67922929.0,2
4,Nordrhein-Westfalen,Early Stage Venture,$50M to $100M,251-500,3.0,Technology and Software,1,0,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73000000.0,2
8,Berlin,Early Stage Venture,$1M to $10M,51-100,2.0,Technology and Software,1,0,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40196721.0,2
9,Berlin,Seed,Less than $1M,101-250,3.0,Technology and Software,1,1,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95000000.0,2
13,Nordrhein-Westfalen,Early Stage Venture,$10M to $50M,101-250,1.0,Consumer Goods and Services,1,1,0,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,116787884.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2180,Baden-Wurttemberg,Seed,$1M to $10M,11-50,1.0,Technology and Software,1,1,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27284.0,2
2181,Hessen,Seed,Less than $1M,11-50,1.0,Finance and Professional Services,1,1,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81868.0,2
2184,Berlin,Seed,$1M to $10M,11-50,1.0,Technology and Software,1,0,1,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145515.0,2
2185,Hessen,Seed,$1M to $10M,11-50,2.0,Consumer Goods and Services,1,0,1,0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0,2
2187,Berlin,Seed,$1M to $10M,11-50,1.0,Technology and Software,1,0,0,1,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,2

In [126]:
df[df["y"] == 1]

,state,funding_status,revenue_range,no_employees,no_founders,industry_groups,website,phone,email,linkedin,...,private_equity_fund,seed_to_pre_ratio,a_to_seed_ratio,b_to_a_ratio,c_to_b_ratio,d_to_c_ratio,e_to_d_ratio,pe_to_e_ratio,total_funding_usd,y
1,Hamburg,Early Stage Venture,$1M to $10M,51-100,1.0,Health and Biotechnology,1,0,1,1,...,NaN,0.0,0.0,5.300000,0.000000,0.0,0.0,0.0,86661948.0,1
2,Baden-Wurttemberg,Late Stage Venture,$1M to $10M,101-250,2.0,Industrial and Manufacturing,1,1,1,1,...,NaN,0.0,0.0,3.411765,3.014828,0.0,0.0,0.0,137401184.0,1
3,Bayern,Late Stage Venture,$10M to $50M,251-500,3.0,Technology and Software,1,0,1,1,...,NaN,0.0,0.0,5.000000,0.000000,0.0,0.0,0.0,350641701.0,1
5,Sachsen,Late Stage Venture,$1M to $10M,101-250,8.0,Technology and Software,1,1,1,1,...,NaN,0.0,0.0,5.000000,2.800000,0.0,0.0,0.0,122184409.0,1
6,Bayern,M&A,$50M to $100M,501-1000,3.0,Technology and Software,1,1,1,1,...,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,270050589.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2156,Nordrhein-Westfalen,M&A,$10M to $50M,101-250,2.0,Consumer Goods and Services,1,0,0,1,...,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,50856135.0,1
2170,Berlin,M&A,$1M to $10M,11-50,2.0,Technology and Software,1,1,1,1,...,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1441367.0,1
2175,Berlin,M&A,$1M to $10M,11-50,3.0,Consumer Goods and Services,1,1,1,1,...,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,6745373.0,1
2182,Berlin,M&A,Less than $1M,11-50,2.0,Technology and Software,1,1,1,1,...,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,129685.0,1
2188,Berlin,M&A,Less than $1M,11-50,3.0,Finance and Professional Services,1,0,0,0,...,NaN,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1371723.0,1

In [127]:
df.columns

Index(['state', 'funding_status', 'revenue_range', 'no_employees',
       'no_founders', 'industry_groups', 'website', 'phone', 'email',
       'linkedin', 'twitter', 'facebook', 'articles', 'founded_year',
       'last_funding_year', 'exit_year', 'closed_year', 'no_investors',
       'no_fund_rounds', 'acquired', 'private_ipo', 'company_type',
       'operting_status', 'no_lead_investors', 'no_sub_orgs', 'no_exits',
       'has_preseed', 'has_seed', 'has_series_a', 'has_series_b',
       'has_series_c', 'has_series_d', 'has_series_e', 'has_angel',
       'has_debt_financing', 'has_grant', 'has_corporate_round',
       'has_series_x', 'has_other_funding', 'preseed_fund', 'seed_fund',
       'series_a_fund', 'series_b_fund', 'series_c_fund', 'series_d_fund',
       'series_e_fund', 'private_equity_fund', 'seed_to_pre_ratio',
       'a_to_seed_ratio', 'b_to_a_ratio', 'c_to_b_ratio', 'd_to_c_ratio',
       'e_to_d_ratio', 'pe_to_e_ratio', 'total_funding_usd', 'y'],
      dtype='object')

In [ ]:
y = [
    "exit_year", "closed_year", "acquired", "funding_status", "has_series_d", "has_series_e"
]

Pre-Seed: $50,000 - $500,000
Seed: $500,000 - $2 Millionen
Series A: $2 Millionen - $15 Millionen
Series B: $15 Millionen - $50 Millionen
Series C: $50 Millionen - $100 Millionen
Series D: $100 Millionen - $200 Millionen
Series E und darüber hinaus: $200 Millionen und mehr

In [129]:
export_df = df.loc[:, ['state', 'funding_status', 'revenue_range', 'no_employees',
       'no_founders', 'industry_groups', 'website', 'phone', 'email',
       'linkedin', 'twitter', 'facebook', 'founded_year','no_investors', 'no_fund_rounds', 'private_ipo', 'company_type',
       'operting_status', 'no_lead_investors', 'no_sub_orgs',
       'has_preseed', 'has_seed', 'has_series_a', 'has_series_b',
       'has_series_c', 'has_series_d', 'has_series_e', 'has_angel',
       'has_debt_financing', 'has_grant', 'has_corporate_round',
       'has_series_x', 'total_funding_usd', 'y']]

In [130]:
export_df.to_csv("../raw_data/X_y_data1.csv")